 <section class="section-sub-banner bg-9">
            <div class="awe-overlay"></div>
            <div class="sub-banner">
                <div class="container">
                    <div class="text text-center">
                        <h2>Thông tin N5-BOOKING</h2>
                        <p>Website cho phép người dùng đặt phòng khách sạn online!</p>
                    </div>
                </div>

            </div>
</section>
<!-- END SUB BANNER -->
<!-- ABOUT -->
<section class="section-about">
            <div class="container">
                <div class="about">
                    <!-- ITEM -->
                    <div class="about-item">
                        <div class="img owl-single">
                            <img src="images/about/img-1.jpg" alt="">
                            <img src="images/about/img-2.jpg" alt="">
                        </div>
                        <div class="text">
                            <h2 class="heading">GIỚI THIỆU N5-BOOKING</h2>
                            <div class="desc">
                                <p>Nhằm đáp ứng nhu cầu nghỉ dưỡng và tiện lợi cho việc đặt phòng 
                                    của khách du lịch, chúng tôi mang đến cho quý vị một sản phẩm 
                                    mang tên N5-BOOKING. N5-BOOKING cung cấp cho quý khách nhiều dịch vụ
                                    cao cấp và nhiều phòng nghỉ sang trọng. Qúy khách có thể truy cập website,
                                    xem, tìm kiếm và đặt những căn phòng phù hợp cho mình và cho gia đình mình
                                    trong những ngày nghỉ dưỡng ấm áp và hạnh phúc.</p><br>
                                <p>N5-BOOKING được phát triển từ đội ngũ phát triển gồm 4 sinh viên trường Đại học 
                                    Khoa học tự nhiên TPHCM. </p>
                                <p>Di động: 0335.435.604</p>
                                <p>Email: nhom05Booking@gmail.com</p>
                                <p>Trụ sở: I82, Tòa nhà I, số 227, Nguyễn Văn Cừ, Phường 4, Quận 5, TPHCM. </p>
                            </div>
                        </div>
                    </div>
                    <!-- END / ITEM -->
                    <!-- ITEM -->
                    <div class="about-item about-right">
                        <div class="img">
                            <img src="images/about/img-4.jpg" alt="">
                        </div>
                        <div class="text">
                            <h2 class="heading">Tại sao quý khách phải chọn N5-BOOKING?</h2>
                            <div class="desc">
                                <p>N5-BOOKING cung cấp nhiều dịch vụ và phòng nghỉ thượng hạng.
                                Mỗi phòng sẽ được thiết kế sang trọng, quý phái cùng với nội thất đầy đủ và hiện đại.
                                Qúy khách có thể trải qua những ngày nghỉ dưỡng ấm áp và hạnh phúc cùng người thân 
                                trong không gian mát mẻ, thoáng đảng và không kém phần sinh động, hấp dẫn.
                                Nếu bạn không tin? Hãy đến với chúng tôi! </p>
                            </div>
                        </div>
                    </div>
                    <!-- END ITEM -->
                </div>
            </div>
</section>
<!-- END ABOUT -->
<!-- HOTEL STATISTICS -->
<section class="section-statistics bg-10">
            <div class="awe-overlay"></div>
            <div class="container">
                <div class="statistics">
                    <h2 class="heading white text-center">Thống kê N5-BOOKING</h2>
                    <div class="statistics_content">
                        <div class="row">
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="statistics_item">
                                    <span class="count">768</span>
                                    <span>Khách lưu trú</span>
                                </div>
                            </div>
                            <!-- END ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="statistics_item">
                                    <span class="count">632</span>
                                    <span>Phòng đã đặt</span>
                                </div>
                            </div>
                            <!-- END ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="statistics_item">
                                    <span class="count">1024</span>
                                    <span>Khách ở lại</span>
                                </div>
                            </div>
                            <!-- END ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="statistics_item">
                                    <span class="count">256</span>
                                    <span>Thức ăn phục vụ</span>
                                </div>
                            </div>
                            <!-- END ITEM -->
                        </div>
                    </div>
                </div>
            </div>
</section>
<!-- END / HOTEL STATISTICS -->
<!-- TEAM -->
<section class="section-team">
            <div class="container">
                <div class="team">
                    <h2 class="heading text-center">Thành viên nhóm</h2>
                    <p class="sub-heading text-center">Đội ngũ phát triển N5-BOOKING</p>
                    <div class="team_content">
                        <div class="row">
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">
                                    <div class="img">
                                        <a href=""><img src="/images/team/khiem.jpg" alt=""></a>
                                    </div> 
                                    <div class="text">
                                        <h2>Ngô Trường Khiêm</h2>
                                        <span>1712528</span>
                                        <span>Manager, Designer</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">
                                    <div class="img">
                                        <a href=""><img src="/images/team/thanh.jpg" alt=""></a>
                                    </div> 
                                    <div class="text">
                                        <h2>Nguyễn Viết Thanh</h2>
                                        <span>1712767</span>
                                        <span>Main-Developer</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">
                                    <div class="img">
                                        <a href=""><img src="/images/team/hung.png" alt=""></a>
                                    </div> 
                                    <div class="text">
                                        <h2>Nguyễn Tấn Hưng</h2>
                                        <span>1712482</span>
                                        <span>Sub-Developer, Tester</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                            <!-- ITEM -->
                            <div class="col-xs-6 col-md-3">
                                <div class="team_item text-center">
                                    <div class="img">
                                        <a href=""><img src="/images/team/kha.jpg" alt=""></a>
                                    </div> 
                                    <div class="text">
                                        <h2>Đặng Hồ Hoàng Kha</h2>
                                        <span>1712509</span>
                                        <span>Sub-Developer, Tester</span>
                                    </div>
                                </div>
                            </div>
                            <!-- END / ITEM -->
                        </div>
                    </div>
                </div>
            </div>
</section>
 <!-- END / TEAM -->