 <!-- FOOTER -->
    <footer id="footer" class="footer-style-2">
        <!-- FOOTER TOP -->
        <div class="container">
            <div class="footer_top">
                <div class="row">
                    <!-- WIDGET MAILCHIMP -->
                    <div class="content v-align clearfix">
                        <div class="col-xs-12 col-sm-6">
                            <img class="img-responsive img-mail mb20 mr30" src="images/home-3/footer/mail-footer.png"
                                 alt="">
                            <div class="desc clearfix inline-block">
                                <h4 class="font-monserat bold f36 upper">Tin tức &amp; Ưu đãi</h4>
                                <p class="sub f14">Hãy đến với chúng tôi!</p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="mailchimp">
                                <div class="mailchimp-form">
                                    <form action="/sign-up" method="POST">
                                        <input type="text" name="email" placeholder="Nhập email...."
                                               class="input-text">
                                        <button class="awe-btn">ĐĂNG KÝ</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END / WIDGET MAILCHIMP -->
                </div>
            </div>
        </div>
        <!-- END / FOOTER TOP -->

        <!-- FOOTER CENTER -->
        <div class="footer_center bgr-footer">
            <div class="container">
                <div class="content pt10 pb60">
                    <div class="row">
                        <div class="col-xs-6 col-sm-3">
                            <div class="footer-logo clearfix">
                                <div class="widget widget_logo clearfix">
                                    <div class="widget-logo text-center">
                                        <div class="img">
                                            <a href="#"><img class="img-center" src="/images/logo.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget widget_tripadvisor clearfix">
                                    <div class="tripadvisor text-center">
                                        <img class="img-center" src="images/home-3/footer/logo-trivision.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="widget">
                                <h4 class="widget-title f20 bold">Thông tin</h4>
                                <div class="text">
                                    <p><i class="lotus-icon-location mr10"></i>Việt Nam</p>
                                    <p><i class="lotus-icon-phone mr10"></i> 0335.435.604</p>
                                    <p><i class="fa fa-envelope-o mr10"></i> <a href="mailto:nhom05Booking@gmail.com">nhom05Booking@gmail.com</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="widget">
                                <h4 class="widget-title f20 bold">Khách sạn</h4>
                                <ul>
                                    <li><a href="#">Chỗ ở</a></li>
                                    <li><a href="#">Dịch vụ</a></li>
                                    <li><a href="#">Bộ sưu tập</a></li>
                                    <li><a href="#">Nhà hàng</a></li>
                                    <li><a href="#">Sự kiện</a></li>
                                    <li><a href="#">Ưu đãi</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div class="widget">
                                <h4 class="widget-title f20 bold">Liên kết</h4>
                                <ul>
                                    <li><a href="">Thông tin</a></li>
                                    <li><a href="">Liện hệ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <div class="payment pull-right inline-block">
                        <img src="images/home-3/footer/card.png" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
        <!-- END / FOOTER CENTER -->
    </footer>
    <!-- END / FOOTER -->