<!-- HEADER -->
<header id="header">

    <!-- HEADER TOP -->
    <div class="header_top">
        <div class="container">
            <div class="header_left float-left">
                <span><i class="lotus-icon-cloud"></i> 25 °C</span>
                <span><i class="lotus-icon-location"></i> Việt Nam</span>
                <span><i class="lotus-icon-phone"></i> 2929292929</span>
            </div>
            <div class="header_right float-right">

                <span class="login-register">
                    {{#if user}}
                    <a href="/profile">TÀI KHOẢN</a>
                    <a href="/logout">ĐĂNG XUẤT</a>
                    {{else}}
                    <a href="/sign-in">ĐĂNG NHẬP</a>
                    <a href="/sign-up">ĐĂNG KÝ</a>
                    {{/if}}
                </span>

                <div class="dropdown currency">
                    <span>VND <i class="fa fa"></i></span>
                    <ul>
                        <li class="active"><a href="#">USD</a></li>
                        <li><a href="#">EUR</a></li>
                    </ul>
                </div>

                <div class="dropdown language">
                    <span>VND</span>

                    <ul>
                        <li class="active"><a href="#">ENG</a></li>
                        <li><a href="#">FR</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <!-- END / HEADER TOP -->

    <!-- HEADER LOGO & MENU -->
    <div class="header_content" id="header_content">

        <div class="container">
            <!-- HEADER LOGO -->
            <div class="header_logo">
                <a href="#"><img src="images/logo.jpg" alt=""></a>
            </div>
            <!-- END / HEADER LOGO -->

            <!-- HEADER MENU -->
            <nav class="header_menu">
                <ul class="menu">
                    <li>
                        <a href="/">Trang chủ </span></a>
                    </li>
                    <li>
                        <a href="/room">Phòng <span class="fa fa-caret-down"></span></a>
                        <ul class="sub-menu">
                            <li><a href="room-1.html">Room 1</a></li>
                            <li><a href="room-2.html">Room 2</a></li>
                            <li><a href="room-3.html">Room 3</a></li>
                            <li><a href="room-4.html">Room 4</a></li>
                            <li><a href="room-5.html">Room 5</a></li>
                            <li><a href="room-6.html">Room 6</a></li>
                            <li><a href="room-detail.html">Room Detail</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/about">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="/contact">Liên hệ</a>
                    </li>
                    <li>
                        <a href="/manager-room">Quản lý phòng</a>
                    </li>
                    <li>
                        <a href="/manager-bill">Quản lý đơn</a>
                    </li>

                </ul>
            </nav>
            <!-- END / HEADER MENU -->

            <!-- MENU BAR -->
            <span class="menu-bars">
                <span></span>
            </span>
            <!-- END / MENU BAR -->

        </div>
    </div>
    <!-- END / HEADER LOGO & MENU -->

</header>
<!-- END / HEADER -->