<section class="section-account parallax bg-11">
    <div class="awe-overlay"></div>
    <div class="container">
        <div class="login-register">
            <div class="text text-center">
                <h2>TẠO TÀI KHOẢN</h2>
                <p>Vui lòng nhập đầy đủ các thông tin sau!</p>
                <form class="account_form" method="POST">
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="First name*" name="firstName">
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Last name*" name="lastName">
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Di động*" name="phoneNumber">
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Email*" name="email">
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" placeholder="Password*" name="password">
                        <span class="view-pass"><i class="lotus-icon-view"></i></span>
                    </div>
                    <div class="field-form">
                        <input type="password" class="field-text" placeholder="Nhập lại Password*" name="password2">
                        <span class="view-pass"><i class="lotus-icon-view"></i></span>
                    </div>
                    <div class="field-form">
                        <input type="text" class="field-text" placeholder="Địa chỉ" name="address">
                    </div>
                    <div class="field-form">
                        <label class="custom-control custom-checkbox">
                            <input class="custom-control-input" type="checkbox"><span class="custom-control-label"
                                style="color: white;">Bạn
                                đồng ý với các <a href="#" style="color: white;">điều khoản và điều kiện?</a></span>
                        </label>
                    </div>
                    <div class="field-form field-submit">
                        <button class="awe-btn awe-btn-13" type="submit">ĐĂNG KÝ</button>
                    </div>
                    <div class="field-form text-center">

                    </div>
                    <span class="account-desc">
                        Đã có tài khoản?
                        <a href="/sign-in" class="footer-link">Đăng nhập</a>
                    </span>
                </form>
            </div>
        </div>
    </div>
</section>