 <section class="section-account parallax bg-11">
            <div class="awe-overlay"></div>
            <div class="container">
                <div class="login-register">
                    <div class="text text-center">
                        <h2>ĐĂNG NHẬP TÀI KHOẢN</h2>
                        <p>Vui lòng nhập thông tin tài khoản</p>
                        <form class="account_form" method="POST">
                            <div class="field-form">
                                <input type="text" class="field-text" placeholder="Email" name="email">
                            </div>
                            <div class="field-form">
                                <input type="password" class="field-text" placeholder="Password" name="password">
                                <span class="view-pass"><i class="lotus-icon-view"></i></span>
                            </div>
                            <div class="field-form field-submit">
                                <button class="awe-btn awe-btn-13" type="submit">ĐĂNG NHẬP</button>
                            </div>
                             <div class="field-form text-center">
                              <span class="splash-description">
                                    <a href="#"><img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Facebook_Logo_%282019%29.png"  height="50" width="50"></a>
                                   HOẶC
                                    <a href="#"><img src="https://brasol.vn/public/ckeditor/uploads/tin-tuc/13-logo-google.png"  height="50" width="50"></a>
                               </span>
                             </div>
                            <span class="account-desc">
                                  Chưa có tài khoản?
                                 <a href="/sign-up" class="footer-link">Đăng ký</a>
                            </span>
                        </form>
                    </div>
                </div>
            </div>
</section>
 <!-- END / ACCOUNT -->
