<!-- BANNER SLIDER -->
   <section class="section-slider slider-style-2 clearfix">
        <div id="slider-revolution">
            <ul>
                <li data-transition="fade">
                    <img src="images/slider/img-8.jpg" data-bgposition="left center" data-duration="14000"
                         data-bgpositionend="right center" alt="">

                    <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="100"
                         data-speed="700" data-start="1500" data-easing="easeOutBack">
                        <img src="images/slider/hom1-slide1.png" alt="icons">
                    </div>

                    <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="240"
                         data-speed="700" data-start="1500" data-easing="easeOutBack">
                        WELCOME TO
                    </div>

                    <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280"
                         data-speed="700" data-easing="easeOutBack" data-start="2000">N5-BOOKING
                    </div>

                    <a href="/room" class="tp-caption sfb fadeout awe-btn awe-btn-12 awe-btn-slider" data-x="center"
                       data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">VIEW NOW</a>
                </li>

                <li data-transition="fade">
                    <img src="images/slider/img-1.jpg" data-bgposition="left center" data-duration="14000"
                         data-bgpositionend="right center" alt="">

                    <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300"
                         data-easing="easeOutBack">
                        <img src="images/slider/icon-slider-1.png" alt="">
                    </div>
                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center"
                         data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2200">JUST LIKE YOU
                    </div>

                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center"
                         data-y="395" data-easing="easeOutBack" data-speed="700" data-start="2400"><img
                            src="images/slider/icon-slider-2.png" alt=""></div>
                </li>
				<li data-transition="fade">
                    <img src="images/slider/img-6.jpg" data-bgposition="left center" data-duration="14000"
                         data-bgpositionend="right center" alt="">

                    <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300"
                         data-easing="easeOutBack">
                        <img src="images/slider/icon-slider-1.png" alt="">
                    </div>
                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center"
                         data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2200">SIGN UP NOW!
                    </div>

                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center"
                         data-y="395" data-easing="easeOutBack" data-speed="700" data-start="2400"><img
                            src="images/slider/icon-slider-2.png" alt=""></div>
                </li>
            </ul>
        </div>

   </section>
<!-- END / BANNER SLIDER -->
<!-- CHECK AVAILABILITY -->
    <section class="section-check-availability availability-style-2 clearfix">
        <div class="container">
            <div class="check-availability">
                <div class="ot-heading">
                    <h2 class="mb40">TÌM KIẾM PHÒNG</h2>
                </div>
                <form id="ajax-form-search-room" class="mt40 mb50" action="search_step_2.php" method="post">
                    <div class="availability-form mb40">
						<select class="awe-select" name="typeRoom">
                            <option>Loại</option>
                            <option>VIP</option>
                            <option>SANG</option>
                            <option>THƯỜNG</option>
                        </select>
						<select class="awe-select" name="typeBed">
                            <option>Hình thức</option>
                            <option>Một đơn</option>
                            <option>Một đôi</option>
                            <option>Hai dơn</option>
							<option>Hai dôi</option>
                        </select>
						<select class="awe-select" name="typePrice">
                            <option>Giá phòng</option>
                            <option>2.000.000-3.000.000</option>
                            <option>1.000.000-2.000.000</option>
                            <option>Dưới 1.000.000</option>
                        </select>
                        <input type="text" name="arrive" class="awe-calendar from" placeholder="Ngày nhận">
                        <input type="text" name="departure" class="awe-calendar to" placeholder="Ngày trả">
                    </div>
                    <div class="vailability-submit">
                        <button class="awe-btn awe-btn-13 pr30 pl30 f16 bold font-hind">TÌM KIẾM</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
<!-- END / CHECK AVAILABILITY -->

<!-- ROOM -->
        <section class="section-room bg-white">
            <div class="container">
                <div class="room-wrap-1">
                    <div class="row">
                        <!-- ITEM -->
                        <div class="col-md-6">
                            <div class="room_item-1">
                                <h2><a href="#">FAMILY ROOM</a></h2>
                                <div class="img">
                                    <a href="#"><img src="images/room/grid/img-1.jpg" alt=""></a>
                                </div>
                                <div class="desc">
                                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service for an elevated experience in the Rocky Mountains.</p>
                                    <ul>
                                        <li>Max: 4 Person(s)</li>
                                        <li>Size: 35 m2 / 376 ft2</li>
                                        <li>View: Ocen</li>
                                        <li>Bed: King-size or twin beds</li>
                                    </ul>
                                </div>
                                <div class="bot">
                                    <span class="price">Starting <span class="amout">$260</span> /days</span>
                                    <a href="#" class="awe-btn awe-btn-13">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="col-md-6">
                            <div class="room_item-1">
                                <h2><a href="#">LUXURY ROOM</a></h2>
                                <div class="img">
                                    <a href="#"><img src="images/room/grid/img-1.jpg" alt=""></a>
                                </div>
                                <div class="desc">
                                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service for an elevated experience in the Rocky Mountains.</p>
                                    <ul>
                                        <li>Max: 4 Person(s)</li>
                                        <li>Size: 35 m2 / 376 ft2</li>
                                        <li>View: Ocen</li>
                                        <li>Bed: King-size or twin beds</li>
                                    </ul>
                                </div>
                                <div class="bot">
                                    <span class="price">Starting <span class="amout">$260</span> /days</span>
                                    <a href="#" class="awe-btn awe-btn-13">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->

                        <!-- ITEM -->
                        <div class="col-md-6">
                            <div class="room_item-1">
                                <h2><a href="#">COUPLE ROOM</a></h2>
                                <div class="img">
                                    <a href="#"><img src="images/room/grid/img-1.jpg" alt=""></a>
                                </div>
                                <div class="desc">
                                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service for an elevated experience in the Rocky Mountains.</p>
                                    <ul>
                                        <li>Max: 4 Person(s)</li>
                                        <li>Size: 35 m2 / 376 ft2</li>
                                        <li>View: Ocen</li>
                                        <li>Bed: King-size or twin beds</li>
                                    </ul>
                                </div>
                                <div class="bot">
                                    <span class="price">Starting <span class="amout">$260</span> /days</span>
                                    <a href="#" class="awe-btn awe-btn-13">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                        <!-- ITEM -->
                        <div class="col-md-6">
                            <div class="room_item-1">
                                <h2><a href="#">STANDARD ROOM</a></h2>
                                <div class="img">
                                    <a href="#"><img src="images/room/grid/img-1.jpg" alt=""></a>
                                </div>
                                <div class="desc">
                                    <p>Located in the heart of Aspen with a unique blend of contemporary luxury and historic heritage, deluxe accommodations, superb amenities, genuine hospitality and dedicated service for an elevated experience in the Rocky Mountains.</p>
                                    <ul>
                                        <li>Max: 4 Person(s)</li>
                                        <li>Size: 35 m2 / 376 ft2</li>
                                        <li>View: Ocen</li>
                                        <li>Bed: King-size or twin beds</li>
                                    </ul>
                                </div>
                                <div class="bot">
                                    <span class="price">Starting <span class="amout">$260</span> /days</span>
                                    <a href="#" class="awe-btn awe-btn-13">VIEW DETAILS</a>
                                </div>
                            </div>
                        </div>
                        <!-- END / ITEM -->
                    </div>
                </div>
            </div>
        </section>
        <!-- END / ROOM -->