<section class="section-sub-banner bg-9">
    <div class="awe-overlay"></div>
        <div class="sub-banner">
            <div class="container">
                <div class="text text-center">
                    <hr><hr>
                    <h2>Thông tin N5-BOOKING</h2>
                    <p>Website cho phép người dùng đặt phòng khách sạn online!</p>
                </div>
            </div>

        </div>
</section>
<!-- END / SUB BANNER -->
<!-- contact-->
 <section class="section-contact">
    <div class="container">
        <div class="contact">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <div class="text">
                        <h2>Liên hệ</h2>
                        <p>N5-BOOKING nhằm mang đến cho quý khách một sự trải nghiệm tốt nhất có thể. N5-BOOKING cung cấp nhiều dịch vụ thượng hạng. Nếu có bất kỳ thắc mắc hay vấn đề gì thì xin quý khách liên hệ với chúng tôi!</p>
                        <ul>
                            <li><i class="icon lotus-icon-location"></i> Địa chỉ: 227, Nguyễn Văn Cừ, Phường 4, Quận 5, TPHCM</li>
                            <li><i class="icon lotus-icon-phone"></i> Di động: 0335.435.604</li>
                            <li><i class="icon lotus-icon-phone"></i> Fax: +1 121 888 9292</li>
                            <li><i class="icon fa fa-envelope-o"></i> nhom05Booking@gmail.com</li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6 col-lg-offset-1">
                    <div class="contact-form">
                        <form id="send-contact-form" action="send_mail_contact.php" method="post"> 
                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="field-text"  name="name" placeholder="Tên">
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" class="field-text" name="email" placeholder="Email">
                                </div>
                                <div class="col-sm-12">
                                    <input type="text" class="field-text" name="subject" placeholder="Tiêu đề">
                                </div>
                                <div class="col-sm-12">
                                    <textarea cols="30" rows="10" name="message"  class="field-textarea" placeholder="Nhập nội dung ..."></textarea>
                                </div>
                                <div class="col-sm-6">
                                    <button type="submit" class="awe-btn awe-btn-13">GỬI</button>
                                </div>
                            </div>
                            <div id="contact-content"></div>
                        </form>
                    </div>
                </div>

            </div>  
        </div>
    </div>
</section>
<!-- END CONTACT -->

<!-- MAP -->
<section class="section-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1589.5717153348023!2d106.68097249637803!3d10.762154433863572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f1bfc262bf1%3A0x4e843897f2900135!2zMjI3IMSQxrDhu51uZyBOZ3V54buFbiBWxINuIEPhu6ssIFBoxrDhu51uZyA0LCBRdeG6rW4gNSwgSOG7kyBDaMOtIE1pbmgsIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1577377093218!5m2!1svi!2s" 
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</section>
<!-- END MAP -->
