<div id="page-wrap" class="bg-white-2">
    <!-- BANNER SLIDER -->
    <section class="section-slider slider-style-2 clearfix">
        <div id="slider-revolution">
            <ul>
                <li data-transition="fade">
                    <img src="images/slider/img-5.jpg" data-bgposition="left center" data-duration="14000"
                         data-bgpositionend="right center" alt="">

                    <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="100"
                         data-speed="700" data-start="1500" data-easing="easeOutBack">
                        <img src="images/slider/hom1-slide1.png" alt="icons">
                    </div>

                    <div class="tp-caption sft fadeout slider-caption-sub slider-caption-1" data-x="center" data-y="240"
                         data-speed="700" data-start="1500" data-easing="easeOutBack">
                        WELCOME TO
                    </div>

                    <div class="tp-caption sfb fadeout slider-caption slider-caption-sub-1" data-x="center" data-y="280"
                         data-speed="700" data-easing="easeOutBack" data-start="2000">N5-BOOKING
                    </div>

                    <a href="/room" class="tp-caption sfb fadeout awe-btn awe-btn-12 awe-btn-slider" data-x="center"
                       data-y="380" data-easing="easeOutBack" data-speed="700" data-start="2200">VIEW NOW</a>
                </li>

                <li data-transition="fade">
                    <img src="images/slider/slider-2.png" data-bgposition="left center" data-duration="14000"
                         data-bgpositionend="right center" alt="">

                    <div class="tp-caption sft fadeout" data-x="center" data-y="195" data-speed="700" data-start="1300"
                         data-easing="easeOutBack">
                        <img src="images/icon-slider-1.png" alt="">
                    </div>
                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center"
                         data-y="365" data-easing="easeOutBack" data-speed="700" data-start="2200">JUST LIKE YOU
                    </div>

                    <div class="tp-caption sfb fadeout slider-caption-sub slider-caption-sub-3" data-x="center"
                         data-y="395" data-easing="easeOutBack" data-speed="700" data-start="2400"><img
                            src="images/icon-slider-2.png" alt=""></div>
                </li>

            </ul>
        </div>

    </section>
    <!-- END / BANNER SLIDER -->
  
    <!-- ACCOMMODATIONS -->
    <section class="ot-accomd-modations">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading pt80 pb30 text-center row-20">
                            <h2 class="mb15">N5-BOOKING</h2>
                            <p class="sub pr10 pl10">
                               Sẽ mang đến một trải nghiệm thật tuyêt vời!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="ot-accomd-modations-content owl-single" data-single_item="false" data-desktop="1"
                             data-small_desktop="1"
                             data-tablet="2" data-mobile="1"
                             data-nav="false"
                             data-pagination="false">
                            <div class="row">
                                {{!-- <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Luxury Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div> --}}
                                {{!-- <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Family Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div> --}}
                                {{!-- <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Deluxe Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div> --}}
                                {{#each listRooms}}
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        {{#each image}}
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="{{this}}"
                                                             alt=""></a>
                                        </div>
                                        {{/each}}
                                        <h2 class="title"><a href="!#">{{roomClass}} Room</a></h2>
                                        <p class="price">
                                            Start from {{price}} per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="/book-room"> View
                                            Details</a>
                                    </div>
                                </div>
                                {{/each}}
                                
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Presidential Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Luxury Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Family Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Deluxe Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Couple Room</a></h2>
                                        <p class="price">
                                            Start from $480 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Single Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="item room-item text-center accomd-modations-room_1">
                                        <div class="img">
                                            <a href="#"><img class="img-responsive img-full" src="images/room/img-1.jpg"
                                                             alt=""></a>
                                        </div>
                                        <h2 class="title"><a href="!#">Presidential Room</a></h2>
                                        <p class="price">
                                            Start from $120 per day
                                        </p>
                                        <div class="info upper">
                                            <p>
                                                <span class="number">02</span>
                                                <span>Max Guest</span>
                                            </p>
                                            <p>
                                                <span class="number">34.5</span>
                                                <span>Size M<sup>2</sup></span>

                                            </p>
                                            <p>
                                                <span class="number">01</span>
                                                <span> Bedroom</span>
                                            </p>
                                        </div>
                                        <a class="awe-btn awe-btn-default btn-medium font-hind f12 bold" href="!#"> View
                                            Details</a>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </section>
    <!-- END / ACCOMMODATIONS -->



    <!-- ABOUT -->
    <section class="ot-about mt60">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading mb40 row-20 text-center">
                            <h2>GIỚI THIỆU N5-BOOKING</h2>
                            <p class="sub pr10 pl10">
                               N5-BOOKING LÀ MỘT WEBSITE CHO PHÉP NGƯỜI DÙNG ĐẶT PHÒNG KHÁCH SẠN. ĐÂY LÀ MỘT NHU CẦU CẦN THIẾT CỦA NGƯỜI DÙNG!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="img-hover-box mb40">
                    <div class="img">
                        <img class="img-responsive" src="images/home-3/about-hill.png" alt="">
                    </div>
                </div>
                <div class="text-center mt40 mb30 featured">
                    <p class="font-hind f-500 f20">N5-BOOKING NƠI MÀ NHIỀU KHÁCH DU LỊCH ĐẾN CÙNG VỚI GIA ĐÌNH TRẢI NGHIỆM MỘT KỲ NGHỈ ẤM ÁP VÀ HẠNH PHÚC! </p>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                        <div class="details">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <p class="font-hind f14 pr15">
                                       Nhằm đáp ứng nhu cầu nghỉ dưỡng và tiện lợi cho việc đặt phòng 
                                       của KHÁCH du lịch, chúng tôi mang đến cho quý vị một N5-BOOKING 
                                       có thể đặt phòng online.
                                    </p>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <p class="font-hind f14 pl15">
                                       Hãy cùng trải nhiệm với chúng tôi. Chúng tôi tin chắc rằng quý 
                                       khách sẽ yêu thích chúng tôi. Hãy tạo ra một kỳ nghỉ thật tuyệt
                                       với cùng với gia đình ngay!
                                    </p>
                                </div>
                            </div>
                            <div class="text-center">
                                <a href="#" class="awe-btn awe-btn-default mt30 mb30 font-hind f12 bold btn-medium"
                                   target="_blank">Đọc thêm</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- END / ABOUT -->

    <!-- OUR BEST -->
    <section class="ot-out-best mt60">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12 col-lg-6 col-lg-offset-3">
                        <div class="ot-heading mb40 row-20 text-center">
                            <h2>DỊCH VỤ TỐT NHẤT</h2>
                        </div>
                    </div>
                </div>
                <div class="owl-single owl-best" data-single_item="false" data-desktop="6"
                     data-small_desktop="4"
                     data-tablet="3" data-mobile="2"
                     data-nav="true"
                     data-pagination="false">
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-11.png" alt="icon">
                        <span class="font-hind f-500">Miễn phí wifi</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-12.png" alt="icon">
                        <span class="font-hind f-500">Bãi đậu xe</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-13.png" alt="icon">
                        <span class="font-hind f-500">Phòng dịch vụ</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-14.png" alt="icon">
                        <span class="font-hind f-500">Máy điều hòa</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-15.png" alt="icon">
                        <span class="font-hind f-500">Truyền hình</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-16.png" alt="icon">
                        <span class="font-hind f-500">Hành lý</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-12.png" alt="icon">
                        <span class="font-hind f-500">Bãi đậu xe</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-13.png" alt="icon">
                        <span class="font-hind f-500">Phòng dịch vụ</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-14.png" alt="icon">
                        <span class="font-hind f-500">Miễn phí wifi</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-15.png" alt="icon">
                        <span class="font-hind f-500">Máy điều hòa</span>
                    </div>
                    <div class="item text-center">
                        <img class="img-responsive mb10" src="images/home-3/icon/icon-16.png" alt="icon">
                        <span class="font-hind f-500">Truyền hình</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END / OUR BEST -->
   
</div>